@import 'site.css';
@import 'card.css';
@import 'header.css';
@import 'footer.css';

:root {
	--content-line-height: 1.35em;
}

.card p {
	color: var(--blue);
	font-family: var(--content-font-family);
	line-height: var(--content-line-height);
}

.card p:not(:last-of-type) {
	margin: 0 0 1em 0;
}

.card p:last-of-type {
	margin: 0;
}

.about {
	margin: 0 0.5em;
}

.about a {
	color: var(--green);
}

.about__header {
	color: var(--purple);
	font-family: var(--main-font-family);
	margin: 0.5em 0;
}

.about__quotation {
	font-style: italic;
}

.about__interests {
	display: flex;
	flex-direction: column;
}

.about__interests-header {
	color: var(--purple);
	font-family: var(--main-font-family);
	line-height: 1.25em;
	margin: 0 0 0.5em 0;
}

.about__barbell {
	margin: 0.5em 0;
	max-height: 4em;
}

.about__controller {
	margin: 0.5em 0;
	max-height: 4em;
}

.about__golf-club {
	margin: 0.5em 0;
	position: relative;
	max-height: 7em;
}
