@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

:root {
	--purple: #bf55ec;
	--green: #00d400;
	--blue: #00ffff;
	--background-color: #1b1b1b;
	/* 
		System Fonts as used by Medium and WordPress 
	   	via https://css-tricks.com/snippets/css/system-font-stack 
	*/
	--fallback-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
		Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	--main-font-family: 'Comfortaa', cursive;
	--content-font-family: 'Roboto Slab', serif;
}

html {
	/* found here: https://css-tricks.com/books/volume-i/scale-typography-screen-size/ */
	font-size: calc(18px + (22 - 18) * ((100vw - 375px) / (1440 - 375)));
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	background: var(--background-color);
	display: flex;
	flex-direction: column;
	font-family: var(--fallback-font-family);
	margin: 0 0.5em;
	padding: 0;
	position: relative;
}

main {
	margin: 0 auto;
	flex: 1;
	max-width: 900px;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	color: var(--green);
	font-family: var(--main-font-family);
	font-size: 1.25em;
}

h4 {
	font-size: 1.1em;
}

h5,
h6 {
	font-size: 1em;
}
