@import 'site.css';

.footer {
	align-items: center;
	background: var(--background-color);
	border-top: 1px var(--purple) solid;
	left: calc(var(--body-side-margin) * -1);
	position: relative;
	width: calc(100% + var(--body-side-margin) * 2);
}

.footer__email {
	display: block;
	text-align: center;
	color: var(--green);
	font-family: var(--main-font-family);
	margin: 0.75em 0;
}

.footer__email-link {
	color: var(--green);
	text-decoration: none;
}

.footer__image-links {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0.75em 0;
}

.footer__link {
	display: block;
	margin: 0 0.5em;
}

.footer__image {
	height: 1.75em;
}
