@import 'site.css';
@import 'card.css';
@import 'header.css';

:root {
	--content-line-height: 1.35em;
}

.card-content p {
	color: var(--blue);
	font-family: 'Noticia Text', serif;
	line-height: var(--content-line-height);
}

.card-content p:not(:last-of-type) {
	margin: 0 0 1em 0;
}

.card-content p:last-of-type {
	margin: 0;
}

.about {
	margin: 0 0.5em;
}

.about__header {
	color: var(--purple);
	font-family: 'Comfortaa', cursive;
	margin: 1em 0;
}

.about__quotation {
	font-style: italic;
}

.about__hobbies-header {
	color: var(--purple);
	font-family: 'Comfortaa', cursive;
	line-height: 1.25em;
	margin: 0 0 0.5em 0;
}
