@import 'site.css';
@import 'card.css';
@import 'header.css';

.about {
	margin: 0 0.5em;
}

.about__header {
	color: var(--purple);
	font-family: 'Comfortaa', cursive;
	margin: 1em 0;
}

.about__content {
	color: var(--blue);
	font-family: 'Noticia Text', serif;
	margin-bottom: 1em;
}
