@import 'site.css';
@import 'card.css';
@import 'header.css';

:root {
	--content-line-height: 1.35;
}

.card-content p {
	color: var(--blue);
	font-family: var(--content-font-family);
	line-height: var(--content-line-height);
}

.card-content p:not(:last-of-type) {
	margin: 0 0 1em 0;
}

.card-content p:last-of-type {
	margin: 0;
}

.career {
	margin: 0 0.5em;
}

.career__header-container {
	display: grid;
	grid-template-columns: max-content;
	grid-auto-rows: minmax(min-content, max-content);
}

.career__header {
	color: var(--purple);
	grid-column: 1;
	font-family: var(--main-font-family);
	margin: 0.5em 0 1em;
}

.career__laptop {
	grid-column: 2;
	grid-row-end: 3;
	grid-row-start: 1;
	margin: 0.7em 0 1em 2em;
	max-width: 7em;
}

.career__nutshell-header {
	grid-column: 1;
	margin-top: 0;
}

.career__summary {
	color: var(--blue);
	font-family: var(--content-font-family);
	line-height: var(--content-line-height);
	margin-top: 0;
}

.career__skills-list {
	color: var(--blue);
	font-family: var(--content-font-family);
	margin: 0;
	padding: 0;
}

.career__skill {
	display: inline-block;
	border: var(--purple) solid 1px;
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
	margin: 0.25em 0.125em;
}

.career__dabbled {
	color: var(--blue);
	font-family: var(--content-font-family);
	margin-top: 0.5em;
	line-height: var(--content-line-height);
}

.career__work-history-header {
	color: var(--purple);
	font-family: var(--main-font-family);
	line-height: 1.25em;
	margin: 0 0 0.5em 0;
}

.career__work-history-content {
	color: var(--blue);
	font-family: var(--content-font-family);
	margin: 0 0 1em 0;
	line-height: var(--content-line-height);
}
