body {
	background: #f2edd7;
	font-family: 'Fira Code', sans-serif;
	padding: 0 24px 24px;
}

main {
	margin: 0 auto;
	min-width: 375px;
	max-width: 800px;
}

.company-name,
.date-range,
.city-state {
	display: inline-block;
}
