@import 'site.css';

.header {
	border-bottom: var(--purple) 1px solid;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 0.5em;
}

.header__title {
	color: var(--purple);
	font-family: 'Comfortaa', cursive;
	font-size: 2em;
	margin: 0.5em 1.5em 0.5em 0.25em;
}

.header_nav {
	text-align: right;
}

.header__nav-menu {
	list-style: none;
	list-style-type: none;
	margin: 0 0 1em 0.5em;
	padding: 0;
	display: flex;
}

.header__nav-menu-item {
	display: inline-block;
	margin-right: 1em;
}

.career {
	margin: 0 0.5em;
}

.career__header {
	color: var(--purple);
	font-family: 'Comfortaa', cursive;
	margin-bottom: 1em;
}

.career__section-header {
	color: var(--green);
	font-family: 'Comfortaa', cursive;
}

.career__summary {
	color: var(--blue);
	font-family: 'Noticia Text', serif;
}

.career__skills-list {
	color: var(--blue);
	font-family: 'Noticia Text', serif;
	margin: 0;
	padding: 0;
}

.career__skill {
	display: inline-block;
	border: var(--purple) solid 1px;
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
	margin: 0.25em 0.125em;
}

.career__dabbled {
	color: var(--blue);
	font-family: 'Noticia Text', serif;
	margin-top: 0.5em;
}

.career__work-history-header {
	color: var(--purple);
	font-family: 'Comfortaa', cursive;
	margin: 0 0 0.5em 0;
}

.career__work-history-content {
	color: var(--blue);
	font-family: 'Noticia Text', serif;
	margin-bottom: 1em;
}

/* todo: *groan* */
.last-content {
	margin-bottom: 0;
}
