@import 'site.css';
@import 'card.css';
@import 'header.css';

.main-content {
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateY(2em);
}

/* get rid of this nonsense */
.card-content p {
	color: var(--blue);
	font-family: 'Noticia Text', serif;
	line-height: 1.5;
}

.welcome-note {
	display: flex;
	align-items: center;
	max-width: 700px;
}

.welcome-note__header {
	color: var(--purple);
	font-family: 'Comfortaa', cursive;
	margin: 0.75em 0;
}

.welcome-note__content {
	display: inline-block;
}

.welcome-note__face {
	display: inline-block;
	height: 174px;
	width: 124px;
	margin: 0 1.25em 0 0;
}
