@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Noticia+Text&display=swap');

:root {
	--purple: #BF55EC;
	--green: #00d400;
	--blue: #00ffff;
    --background-color: #1b1b1b;
    --comfortaa: font-family: 'Comfortaa', cursive;
    --noticia: font-family: 'Noticia, 'serif;
}
html {
    font-size: 18px;
}

html, body {
    height: 100%;
}

body {
	background: var(--background-color);
}

main {
	margin: 0 auto;
}


.card-content {
	border: var(--purple) solid 1px;
	border-radius: 0.25em;
	margin: 0.5em 0 1.5em;
	padding: 1em 0.5em;
}

.link {
        color: var(--green);
        font-family: 'Comfortaa', cursive;
}
