@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Noticia+Text&display=swap');

:root {
	--purple: #bf55ec;
	--green: #00d400;
	--blue: #00ffff;
	--background-color: #1b1b1b;
}

html {
	font-size: 18px;
}

html,
body {
	height: 100%;
}

body {
	background: var(--background-color);
}

main {
	margin: 0 auto;
	max-width: 960px;
}
